hostname {{ hostname }}
ntp server {{ ntp1 }} prefer
ntp server {{ ntp2 }}
ip route 0.0.0.0 0.0.0.0 {{ route }}
{% for aclfile in access_list %}
    access-list 10 remark {{ aclfile.remark }}
    access-list 10 permit {{ aclfile.acl }}
{% endfor %}
access-list 10 deny any
{% for aclfile in access_list %}
    {% if aclfile['status'] == "down" %}
        shut down
    {% else %}
        no shut down
    {% endif %}
{% endfor %}